body
{
	background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
}

h1 {
	color: #ff0062;
}

 label {
	color: yellow;
}

h3, input {
	color:#ffe600
}

	.login_div1 , .login_div2
	{
		background: rgb(55, 236, 0);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
color: #ff006a;
border-radius: 10px;
border-top: 10px solid #ffc400;
padding: 10px;
float: none;
text-align: left;
}